node_modules/
.env
.DS_Store
*.log
ffmpeg.exe
ffprobe.exe

# Video Formats
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.gif
*.flv
*.wmv
*.m4v

# Folders
test_output/
test_input/
"test video/"
"test_video/"

# Temporary/Backup files
original_ui.js
.gemini/
gha-creds-*.json
